@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../images/ibm-plex-mono-cyrillic-ext-400-normal-5eafb38e.woff) format("woff");
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F
}

@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../images/ibm-plex-mono-cyrillic-400-normal-ccc671c8.woff) format("woff");
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../images/ibm-plex-mono-vietnamese-400-normal-37de478c.woff) format("woff");
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../images/ibm-plex-mono-latin-ext-400-normal-88c904ee.woff) format("woff");
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: IBM Plex Mono;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(../images/ibm-plex-mono-latin-400-normal-d3d6fff8.woff) format("woff");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

html {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-size-adjust: 100%;
}
body {
    margin: 0px;
    color: rgb(255, 255, 255);
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    background-color: rgb(18, 18, 18);
}
.css-i9gxme {
    -webkit-box-flex: 1;
    flex-grow: 1;
}
.css-1humgxl {
    position: absolute;
    inset: 66px 0px 0px;
    display: flex;
    overflow: hidden auto;
    -webkit-box-pack: center;
    justify-content: center;
}
.css-1n82n5u {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    position: fixed;
    z-index: 1100;
    top: 0px;
    left: auto;
    right: 0px;
}
.css-i6s8oy {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 56px;
}
.css-4g6ai3 {
    cursor: pointer;
}
.css-1oam3qp {
    margin: 0px;
    font-family: "IBM Plex Mono";
    line-height: 1.167;
    font-size: 22px;
    font-weight: 900;
    white-space: nowrap;
}
.css-1j3vl0w {
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    margin-right: 16px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: auto;
}
.css-1j3vl0w > :not(style):not(style) {
    margin: 0px;
}
.css-58v6h8 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 4px 5px;
    border-radius: 10000px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-1wmb0oc {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 0.8125rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 4px 10px;
    border-radius: 10000px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    white-space: nowrap;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}

.css-1fi24jo {
    display: flex;
    flex-direction: column;
    margin-top: 96px;
    padding-left: 32px;
    padding-right: 32px;
    max-width: 1536px;
    width: 100%;
}
.css-5uh413 {
    display: flex;
    flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
}
.css-1fi24jo > :not(style):not(style) {
    margin: 0px;
}

.css-1tn169j {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 300;
    font-size: 3.75rem;
    line-height: 1.2;
}
.css-5uh413 > :not(style):not(style) {
    margin: 0px;
}
.css-iyyoli {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    line-height: 1.5;
    font-size: 22px;
}
.css-5uh413 > :not(style):not(style) {
    margin: 0px;
}
.css-5uh413 > :not(style) ~ :not(style) {
    margin-top: 32px;
}
.css-jj2ztu {
    display: flex;
    flex-direction: row;
}
.css-329fbw {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 8px 22px;
    border-radius: 10000px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}
.css-jj2ztu > :not(style):not(style) {
    margin: 0px;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-125dgr2 {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 7px 21px;
    border-radius: 10000px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgb(255, 255, 255);
}
.css-jj2ztu > :not(style):not(style) {
    margin: 0px;
}
.css-jj2ztu > :not(style) ~ :not(style) {
    margin-left: 16px;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-10mk4c7 {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    align-self: stretch;
    height: auto;
}
.css-1fi24jo > :not(style):not(style) {
    margin: 0px;
}
.css-1fi24jo > :not(style) ~ :not(style) {
    margin-top: 64px;
}
.css-584fvr {
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
}
.css-1fi24jo > :not(style):not(style) {
    margin: 0px;
}
.css-1fi24jo > :not(style) ~ :not(style) {
    margin-top: 64px;
}
.css-sg11fo {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    border-radius: 16px;
}
.css-1ov46kg {
    display: flex;
    flex-direction: column;
}
.css-10bjihq {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.167;
}
.css-1ov46kg > :not(style):not(style) {
    margin: 0px;
}

.css-t5ptwq {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}
.css-1ov46kg > :not(style):not(style) {
    margin: 0px;
}
.css-1ov46kg > :not(style) ~ :not(style) {
    margin-top: 16px;
}

.css-1tuynvm {
    max-width: 100%;
    font-family: "IBM Plex Mono";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: 0px;
    text-decoration: none;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(41, 182, 246, 0.7);
    color: rgb(41, 182, 246);
}
.css-1ontqvh {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
}
.css-1ov46kg > :not(style):not(style) {
    margin: 0px;
}
.css-1ov46kg > :not(style) ~ :not(style) {
    margin-top: 16px;
}
.css-10r3l74 {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 16px;
}
.css-5n5rd1 {
    min-width: 56px;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
    display: inline-flex;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-1xar93x {
    flex: 1 1 auto;
    min-width: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.css-1obovq4 {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}
.css-zds6py {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.css-10r3l74 {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 16px;
}
.css-9iedg7 {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
}
.css-t5ptwq {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}
.css-1ov46kg > :not(style):not(style) {
    margin: 0px;
}
.css-1ov46kg > :not(style) ~ :not(style) {
    margin-top: 16px;
}
.css-sg11fo {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    border-radius: 16px;
}
.css-1cty3g5 {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 32px;
    margin-left: 32px;
    border-radius: 16px;
}
.css-1ov46kg {
    display: flex;
    flex-direction: column;
}
.css-1d91fdb {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    text-align: center;
}
.css-1ov46kg > :not(style):not(style) {
    margin: 0px;
}
.css-jj2ztu {
    display: flex;
    flex-direction: row;
}
.css-1ov46kg > :not(style):not(style) {
    margin: 0px;
}
.css-1ov46kg > :not(style) ~ :not(style) {
    margin-top: 16px;
}
.css-1azdxn2 {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    width: 50%;
}
.css-jj2ztu > :not(style):not(style) {
    margin: 0px;
}
.css-13sljp9 {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    vertical-align: top;
}
.css-1azdxn2 > :not(style):not(style) {
    margin: 0px;
}
.css-m95sgc {
    color: rgba(255, 255, 255, 0.7);
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    padding: 0px;
    display: block;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(133% - 32px);
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(14px, -9px) scale(0.75);
    transition: color 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms, max-width 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    z-index: 1;
    pointer-events: auto;
    user-select: none;
}
.css-31l584 {
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.4375em;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    cursor: text;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    border-radius: 8px;
}
.css-yjbt8g {
    appearance: none;
    user-select: none;
    border-radius: 10000px;
    cursor: pointer;
    font: inherit;
    letter-spacing: inherit;
    color: currentcolor;
    border: 0px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0px;
    width: 100%;
    animation-name: mui-auto-fill-cancel;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}
.css-yjbt8g.MuiSelect-select {
    height: auto;
    min-height: 1.4375em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.css-yjbt8g.css-yjbt8g.css-yjbt8g {
    padding-right: 32px;
}
.css-1k3x8v3 {
    bottom: 0px;
    left: 0px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
}
.css-2s48wk {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
    position: absolute;
    right: 7px;
    top: calc(50% - 0.5em);
    pointer-events: none;
    color: rgb(255, 255, 255);
}
.css-nqlg3w {
    text-align: left;
    position: absolute;
    inset: -5px 0px 0px;
    margin: 0px;
    padding: 0px 8px;
    pointer-events: none;
    border-radius: inherit;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: rgba(255, 255, 255, 0.23);
}
.css-14lo706 {
    float: unset;
    width: auto;
    overflow: hidden;
    display: block;
    padding: 0px;
    height: 11px;
    font-size: 0.75em;
    visibility: hidden;
    max-width: 100%;
    transition: max-width 100ms cubic-bezier(0, 0, 0.2, 1) 50ms;
    white-space: nowrap;
}
.css-14lo706 > span {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    opacity: 0;
    visibility: visible;
}
.css-1azdxn2 > :not(style):not(style) {
    margin: 0px;
}
.css-1azdxn2 > :not(style) ~ :not(style) {
    margin-top: 32px;
}
.css-1x4jos1 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-1x4jos1 > :not(style):not(style) {
    margin: 0px;
}
.css-1pqbku8 {
    margin: 0px 0px 0.35em;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.css-1x4jos1 > :not(style):not(style) {
    margin: 0px;
}
.css-1x4jos1 > :not(style) ~ :not(style) {
    margin-left: 16px;
}
.css-1x4jos1 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.css-1roqnrn {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.css-1x4jos1 > :not(style):not(style) {
    margin: 0px;
}
.css-1v3n60k {
    border-radius: 12px;
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    cursor: pointer;
    touch-action: none;
    color: rgb(255, 255, 255);
    -webkit-tap-highlight-color: transparent;
    height: 4px;
    width: 100%;
    padding: 13px 0px;
}
.css-1x4jos1 > :not(style):not(style) {
    margin: 0px;
}
.css-1x4jos1 > :not(style) ~ :not(style) {
    margin-left: 16px;
}
.css-1roqnrn {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}

.css-1x4jos1 > :not(style):not(style) {
    margin: 0px;
}
.css-1x4jos1 > :not(style) ~ :not(style) {
    margin-left: 5px;
}

.css-b04pc9 {
    display: block;
    position: absolute;
    border-radius: inherit;
    background-color: currentcolor;
    opacity: 0.38;
    width: 100%;
    height: inherit;
    top: 50%;
    transform: translateY(-50%);
}
.css-s1g4zl {
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border-radius: 50%;
    outline: 0px;
    background-color: currentcolor;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    top: 50%;
    transform: translate(-50%, -50%);
}
.css-jmjj64 {
    z-index: 1;
    white-space: nowrap;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.43;
    transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform: translateY(-100%) scale(0);
    position: absolute;
    background-color: rgb(117, 117, 117);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.25rem 0.75rem;
    top: -10px;
    transform-origin: center bottom;
}
.css-s1g4zl::after {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 42px;
    height: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.css-cgmhbr {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 1px;
    background-color: rgb(18, 18, 18);
    top: 50%;
    transform: translate(-1px, -50%);
    opacity: 0.8;
}
.css-1t2bqnt {
    display: block;
    position: absolute;
    border-radius: inherit;
    border: 1px solid currentcolor;
    background-color: currentcolor;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, width 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, bottom 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    height: inherit;
    top: 50%;
    transform: translateY(-50%);
}
.css-1tx19pf {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px thin 0px 0px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    height: auto;
    align-self: stretch;
}
.css-1szzel2 {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.css-jj2ztu > :not(style):not(style) {
    margin: 0px;
}
.css-jj2ztu > :not(style) ~ :not(style) {
    margin-left: 16px;
}
.css-1ontqvh {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
}
.css-1szzel2 > :not(style):not(style) {
    margin: 0px;
}
.css-10r3l74 {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    padding: 8px 16px;
}
.css-5n5rd1 {
    min-width: 56px;
    color: rgb(255, 255, 255);
    flex-shrink: 0;
    display: inline-flex;
}
.css-vubbuv {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 1.5rem;
}
.css-1xar93x {
    flex: 1 1 auto;
    min-width: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}
.css-1obovq4 {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    display: block;
}
.css-zds6py {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}
.css-183tqb7 {
    display: flex;
    flex-direction: column;
}
.css-1szzel2 > :not(style):not(style) {
    margin: 0px;
}

.css-1szzel2 > :not(style) ~ :not(style) {
    margin-top: 8px;
}



.css-1px5dlw {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
}
.css-183tqb7 {
    display: flex;
    flex-direction: column;
}
.css-1szzel2 > :not(style):not(style) {
    margin: 0px;
}
.css-1szzel2 > :not(style) ~ :not(style) {
    margin-top: 8px;
}

.css-1edxzt1 {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 16px;
}
.css-183tqb7 > :not(style):not(style) {
    margin: 0px;
}
.css-1fxlxc1 {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    line-height: 1.6;
    font-size: 18px;
}
.css-1edxzt1 > :not(style):not(style) {
    margin: 0px;
}
.css-hqmfjj {
    max-width: 100%;
    font-family: "IBM Plex Mono";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
}
.css-1edxzt1 > :not(style):not(style) {
    margin: 0px;
}
.css-1edxzt1 > :not(style) ~ :not(style) {
    margin-left: 8px;
}
.css-9iedg7 {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 12px;
    padding-right: 12px;
    white-space: nowrap;
}
.css-fml22u {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 2.66;
    text-transform: uppercase;
}
.css-183tqb7 > :not(style):not(style) {
    margin: 0px;
}
.css-183tqb7 > :not(style) ~ :not(style) {
    margin-top: -8px;
}

.css-10mk4c7 {
    margin: 0px;
    flex-shrink: 0;
    border-width: 0px 0px thin;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.12);
    align-self: stretch;
    height: auto;
}
.css-1fi24jo > :not(style):not(style) {
    margin: 0px;
}
.css-1fi24jo > :not(style) ~ :not(style) {
    margin-top: 64px;
}
.css-9e918b {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.css-10bjihq {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.167;
}
.css-t5ptwq {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}
.css-9e918b > :not(style) ~ :not(style) {
    margin-top: 32px;
}
.css-9e918b {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.css-15z7di0 {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.css-9e918b > :not(style):not(style) {
    margin: 0px;
}
.css-9e918b > :not(style) ~ :not(style) {
    margin-top: 32px;
}
.css-nbcxie {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(255, 255, 255, 0.12);
    margin-inline: 16px;
    padding: 32px;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    text-align: start;
}
.css-18zsr3k {
    display: flex;
    flex-direction: column;
}
.css-1t3czx9 {
    user-select: none;
    width: 1em;
    height: 1em;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    flex-shrink: 0;
    font-size: 2.25rem;
}
.css-6flbmm {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2.1875rem;
}
.css-1r522s8 {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
}
.css-18zsr3k > :not(style) ~ :not(style) {
    margin-top: 8px;
}
.css-1roqnrn {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.css-18zsr3k > :not(style) ~ :not(style) {
    margin-top: 8px;
}
.css-vsjv72 {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2.1875rem;
    margin: 16px;
}
.css-k80lun {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2.1875rem;
    margin: 16px;
}
*, ::before, ::after {
    box-sizing: inherit;
}
.css-584fvr {
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
}
.css-sg11fo {
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    border-radius: 16px;
}
.css-1pxj9xd {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 32px;
    margin-right: 32px;
    border-radius: 16px;
}
.css-1ov46kg {
    display: flex;
    flex-direction: column;
}
.css-1d91fdb {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    text-align: center;
}
.css-1ov46kg > :not(style):not(style) {
    margin: 0px;
}
.css-tuxzvu {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    margin-top: -8px;
    width: calc(100% + 8px);
    margin-left: -8px;
}
.css-1ov46kg > :not(style) ~ :not(style) {
    margin-top: 16px;
}
.css-vwuntk {
    flex-basis: 14.2857%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 14.2857%;
}
.css-tuxzvu > .MuiGrid-item {
    padding-left: 8px;
}

.css-tuxzvu > .MuiGrid-item {
    padding-top: 8px;
}
.css-vwuntk {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    flex-basis: 14.2857%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 14.2857%;
}
.css-zg1vud {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}
.css-1pxj9xd {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding: 32px;
    margin-right: 32px;
    border-radius: 16px;
}
.css-hqmfjj {
    max-width: 100%;
    font-family: "IBM Plex Mono";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: 0px;
    text-decoration: none;
    border: 0px;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
}
.css-8durlh {
    padding: 8px;
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 1000px;
}
.css-8durlh {
    padding: 8px;
    height: 50px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 1000px;
}
.css-2iccp2 {
    max-width: 100%;
    font-family: "IBM Plex Mono";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: 0px;
    text-decoration: none;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(102, 187, 106, 0.7);
    color: rgb(102, 187, 106);
}
.css-1j0ss5r {
    max-width: 100%;
    font-family: "IBM Plex Mono";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: 0px;
    text-decoration: none;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(255, 167, 38, 0.7);
    color: rgb(255, 167, 38);
}
.css-15za7ao {
    max-width: 100%;
    font-family: "IBM Plex Mono";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: 0px;
    text-decoration: none;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(244, 67, 54, 0.7);
    color: rgb(244, 67, 54);
}
.css-njcl76 {
    max-width: 100%;
    font-family: "IBM Plex Mono";
    font-size: 0.8125rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 32px;
    border-radius: 16px;
    white-space: nowrap;
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    outline: 0px;
    text-decoration: none;
    padding: 0px;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(153, 153, 153, 0.7);
    color: rgb(153, 153, 153);
}
.css-1r3grdq {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.75;
    text-transform: uppercase;
    min-width: 64px;
    padding: 8px 22px;
    border-radius: 10000px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    white-space: nowrap;
}
.css-cwincz {
    padding-bottom: 64px;
}
.css-1fi24jo > :not(style) ~ :not(style) {
    margin-top: 64px;
}
.css-1rrus1u {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}
.css-6ci2yv {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgb(255, 255, 255);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 12px;
    font-size: 1.75rem;
}
.css-1rrus1u > :not(style):not(style) {
    margin: 0px;
}
.css-6flbmm {
    user-select: none;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentcolor;
    flex-shrink: 0;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-size: 2.1875rem;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-dvxtzn {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.css-1rrus1u > :not(style) ~ :not(style) {
    margin-left: 16px;
}

.css-1roqnrn {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.css-nq92xn {
    margin: 0px;
    font: inherit;
    color: rgb(255, 255, 255);
    text-decoration: underline rgba(255, 255, 255, 0.4);
}

.css-6ci2yv {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    text-align: center;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: visible;
    color: rgb(255, 255, 255);
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    padding: 12px;
    font-size: 1.75rem;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 2px solid transparent;
    background: rgba(255, 255, 255, 0.5);
}
::-webkit-scrollbar-track {
    opacity: 0;
}
::-webkit-scrollbar-corner {
    opacity: 0;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
body::backdrop {
    background-color: rgb(18, 18, 18);
}
@media (max-width: 1199.95px){
    .css-sg11fo {
        padding-left: 0px;
        padding-right: 0px;
    }
    .css-584fvr {
        flex-wrap: wrap;
        padding: 0px;
    }
    .css-15z7di0 {
        flex-wrap: wrap;
    }
    .css-nbcxie {
        height: min-content;
    }
    .css-vsjv72 {
        display: none;
    }
}
.css-r8u8y9 {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
    outline: 0px;
}
.css-l0hw8u {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-height: 48px;
    padding: 6px 16px;
    box-sizing: border-box;
    white-space: nowrap;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}





strong, b {
    font-weight: 700;
}

@media (min-width: 600px){
    .css-i6s8oy {
        min-height: 64px;
    }
    .css-i6s8oy {
        padding-left: 24px;
        padding-right: 24px;
    }
    .css-k80lun {
        display: none;
    }

}

.css-esi9ax {
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}
.css-lp4m3g {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    overflow: hidden auto;
    min-width: 16px;
    min-height: 140px;
    max-width: 100%;
    outline: 0px;
    border-radius: 16px;
    max-height: calc(100% - 96px);
    z-index: 1001;
}
.css-r8u8y9 {
    list-style: none;
    margin: 0px;
    padding: 8px 0px;
    position: relative;
    outline: 0px;
}
.css-l0hw8u {
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    border-radius: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    color: inherit;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    text-decoration: none;
    min-height: 48px;
    padding: 6px 16px;
    box-sizing: border-box;
    white-space: nowrap;
}


.css-l0hw8u.Mui-selected {
    background-color: rgba(255, 255, 255, 0.16);
}
@media (min-width: 600px){
    .css-l0hw8u {
        min-height: auto;
    }
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-l0hw8u:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
}
.css-126xj0f {
    position: fixed;
    z-index: 1300;
    inset: 0px;
}
.css-919eu4 {
    position: fixed;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: transparent;
    z-index: -1;
}
.css-16u656j {
    height: 100%;
    outline: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.css-1l2b322 {
    background-color: rgb(18, 18, 18);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border: 1px solid rgba(255, 255, 255, 0.12);
    margin: 32px;
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 64px);
    max-width: 600px;
    border-radius: 16px;
}
.css-1rkw802 {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.6;
    padding: 16px 24px;
    flex: 0 0 auto;
}
.css-1ty026z {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px 24px;
}

.MuiDialogTitle-root + .css-1ty026z {
    padding-top: 0px;
}
.css-1cdg1u5 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}
.css-1roqnrn {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
}
.css-1cdg1u5 > :not(style):not(style) {
    margin: 0px;
}
.css-1155xao {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.75;
    text-transform: uppercase;
    padding: 6px 16px;
    border-radius: 10000px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(41, 182, 246);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
    width: 50%;
    min-width: 198px;
}
.css-1cdg1u5 > :not(style):not(style) {
    margin: 0px;
}
.css-1cdg1u5 > :not(style) ~ :not(style) {
    margin-top: 16px;
}
.css-w0pj6f {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}
.css-u1xn8 {
    margin: 0px;
    font-family: "IBM Plex Mono";
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.66;
}
.css-nq92xn {
    margin: 0px;
    font: inherit;
    color: rgb(255, 255, 255);
    text-decoration: underline rgba(255, 255, 255, 0.4);
}
















